<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fivesoft.filesaver">

    <application>
        <activity
            android:name="com.fivesoft.filesaver.FileSaver$FileSaverActivity"
            android:theme="@style/Theme.Transparent"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fivesoft.filesaver.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>